GOOGLE_SHEET_ID=el_id_de_tu_hoja
GOOGLE_SHEET_TAB=Dashboard
GOOGLE_COUNTERMEASURES_TAB=Registro_Contramedidas
GOOGLE_CLIENT_EMAIL=tu-cuenta@tu-proyecto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nTU_CLAVE\n-----END PRIVATE KEY-----\n"

